/* General Rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Whitney', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

h2{
    font-family: 'Whitney Semibold', sans-serif;
}

/* Header Rules */
header{
    height: 450px;
    background-image: url("../img/jumbo.png");
    background-position: center;
    background-size: cover;
    padding-top: 10px;
}


    nav{
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        nav > .icona{
            width: 10%;

            
        }

        nav > .btn-log{
            display: flex;
            align-items: center;
            
        }
        
        nav > .btn-log > a{
            background-color: white;
            padding: 10px 15px;
            border-radius: 30px;
            text-decoration: none;
            color: black;
        }


        nav > ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            nav > ul > li{
                list-style: none;
                margin: 0 12px;
            }

                nav > ul > li > a{
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                }


    .box-header{
        height: 390px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .text-header{
        height: 40%;
        width: 65%;
        text-align: center;
        margin-bottom: 5px;
    }      

            .text-header > h2{
                color: white;
                font-size: 45px;
                margin-bottom: 20px;
            }

            .text-header > p{
                color: white;
                line-height: 160%;
                font-size: 18px;
            }


        .btn-header{
            width: 65%;
            height: 15%;
            margin-bottom: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .btn-download{
            background-color: white;
            padding: 10px 15px;
            border: 0px;
            border-radius: 30px;
            text-decoration: none;
            color: black;
            }


            .btn-open{
                background-color: #23272a;
                padding: 12px 17px;
                border: 0px;
                border-radius: 30px;
                color: white;
                font-size: 15px;
                margin-left: 20px;
                cursor: pointer;
            }


/* Main Rules */
.wave-container.one{
    background-color: white;
    position: relative;
}

.wave-container.two{
    background-color: white;
    position: relative;
    transform: rotate(180deg);
    margin-bottom: 80px;
}


    /* Wave */
.wave-1{
    opacity: 10%;
    position: absolute;
    bottom: 0px;
}

.bg-grey{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 100px 0;
}

.bg-white{
    padding: 150px 0;
}

.bd-grey > .sez-4-main{
    padding-bottom: 50px;
}


    /* Section */
.sez-1-main{
    width: 80%;
    min-height: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

    .sez-1-main > .image{
        flex-basis: 60%;
    }

    .sez-1-main > .text{
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
        
        .sez-1-main > .text > h2{
            font-size: 40px;
            margin-bottom: 25px;
        }

        .sez-1-main > .text > p{
            line-height: 140%;
            font-size: 17px;
        }

.sez-2-main{
    width: 80%;
    min-height: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
    
    .sez-2-main > .text{
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }

        .sez-2-main > .text > h2{
            font-size: 40px;
            margin-bottom: 25px;
        }

        .sez-2-main > .text > p{
            line-height: 140%;
            font-size: 17px;
        }


    .sez-2-main > .image{
        flex-basis: 60%;
    }


.sez-3-main{
    width: 80%;
    min-height: 350px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
    
    .sez-3-main > .image{
        flex-basis: 60%;
    }

    .sez-3-main > .text{
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }

        .sez-3-main > .text > h2{
            font-size: 40px;
            margin-bottom: 25px;
        }

        .sez-3-main > .text > p{
            line-height: 140%;
            font-size: 17px;
        }


.sez-4-main{
    width: 80%;
    height: 600px;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .sez-4-main > .text{
        flex-basis: 30%;
        width: 80%;
        text-align: center;
    }

        .sez-4-main > .text > h2{
            font-size: 40px;
            margin-bottom: 25px;
        }

        .sez-4-main > .text > p{
            line-height: 140%;
            font-size: 17px;
        }

    .sez-4-main > .image{
        flex-basis: 70%;
    }


.sez-5-main{
    width: 80%;
    height: 170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .sez-5-main > .text{
        flex-basis: 50%;
        width: 100%;
        background-image: url("../img/stars.svg");
        background-size: 47%;
        background-position: top;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .sez-5-main > .text > h2{
            font-size: 27px;
        }

    .sez-5-main > .download{
        flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .sez-5-main > .download > a{
            background-color: #7289da;
            padding: 10px 15px;
            border-radius: 30px;
            text-decoration: none;
            color: white;
            font-size: 16px;
        }

/* Footer Rules */
footer{
    height: 500px;
    background-color: #23272a;
}

.sez-1-footer{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: baseline; */
}

    .sez-1-footer > div{
        flex-basis: calc(75% / 4);
    }

    .sez-1-footer > *{
        padding: 40px 15px 0px;
    }

        .sez-1-footer a{
            display: block;
        }

    #col-grande{
        flex-basis: 25%;
        color: white;
        
    }

        #col-grande > h2{
            font-size: 30px;
            color: #7289d6;
        }


    .lingua{
        margin: 12px 0 15px;
    }

        #col-grande > .lingua > img{
            width: 20px;
            vertical-align: middle;
        }

        #col-grande > .lingua > span{
            font-size: 13px;
        }

        #col-grande > .lingua > a{
            text-decoration: none;
            color: white;
            display: inline;
            font-size: 11px;
        }

        #col-grande > .icone > a{
            display: inline;
            margin: 0 7px;
            text-decoration: none;
            color: white;
        }

    
    .col-piccola{
        line-height: 180%;
    }

        .col-piccola > .col-title{
           color: #7289d6;
           font-family: 'Whitney Semibold', sans-serif;
           font-size: 14px;
        }

        .col-piccola > a{
            text-decoration: none;
            color: #dadfd7;
            font-size: 14px;
        }


.sez-2-footer{
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #7289d6;
    padding-top: 20px;
}

.sez-2-footer > .logo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sez-2-footer > .btn-reg{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

    .sez-2-footer > .btn-reg > a{
        background-color: #7289d6;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 30px;
        text-decoration: none;
        color: white;
    }